<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> {% block title %} Freediary {% endblock %}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.2/dist/morph/bootstrap.min.css"
      rel="stylesheet"
    >

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<!--    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">-->

</head>
<body class="d-flex flex-column min-vh-100">
<!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
            <h1 class="navbar-brand">Freediary</h1>
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home
                    <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/add_training">Add Training</a>
                </li>
                {% block header_content %}
                {% endblock %}
            </ul>
            <!-- Search training -->
            <form method="GET"
              action="{{ url_for('show_all_trainings') }}" class="d-flex">

                <input type="date" class="form-control me-sm-2"
                       name="date" placeholder="Enter date" value="{{ searched_date or '' }}">

                <button class="btn btn-secondary my-2 my-sm-0">Search</button>
            </form>
        </div>
    </nav>

    <main class="container py-4 flex-grow-1">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }} alert-dismissible fade show mb=3" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}

    </main>

    <footer class="bg-dark text-white text-center py-3 mt-auto">
        <div class="container">
            <p class="mb-0">&copy; 2025 Freediary. All rights reserved.</p>
            {% block footer_content %}
            {% endblock %}
        </div>
    </footer>
</body>
</html>